@model Data.Models.Hollow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hollow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HollowClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HollowClassification.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaponPower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaponPower.FirstForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoulReaper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoulReaper.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
